export BASE_DIR="/home/projects/fvst_ssi_dtu/test_app"
export DATA_DIR="/home/projects/fvst_ssi_dtu/test_data"
export BIFROST_RAW_DATA_MNT="$DATA_DIR/seqdata";
export BIFROST_OUTPUT_DIR="$DATA_DIR/output";
export BIFROST_SCRIPT_DIR="$BASE_DIR/scripts"
export BIFROST_LOG_DIR="$BASE_DIR/logs"
export BIFROST_SETTINGS_DIR="$BASE_DIR/settings"
export BIFROST_CONFIG_DIR="$BIFROST_SCRIPT_DIR";
export BIFROST_IMAGE_DIR="$BIFROST_SCRIPT_DIR/singularity";

export SINGULARITY_VERSION="singularity/3.6.4"
export ANACONDA_VERSION="anaconda3/4.4.0"

source "$BIFROST_SETTINGS_DIR/mongo_vars.sh"
source "$BIFROST_SETTINGS_DIR/components.sh"

# slurm
source "$BIFROST_SETTINGS_DIR/queue_settings.sh"

# enterobase
source "$BIFROST_SETTINGS_DIR/enterobase.sh"

# chewiesnake
export CHEWIESNAKE_CONFIG_DIR="/home/projects/fvst_ssi_dtu/test_data/cs";
export CHEWIESNAKE_DRYRUN="False"
